@font-face {
    font-family:chalk;
    src: url('../Fonts/dk-cool-crayon/DK Cool Crayon.ttf');
}

@font-face {
    font-family:hello ;
    src: url('../Fonts/girls_have_many_secrets/Girls Have Many Secrets.ttf');
}

@font-face {
    font-family:Caviar ;
    src: url('../Fonts/caviar_dreams/CaviarDreams.ttf');
}

/*Op iedere pagina hetzelfde*/

*{
    margin: 0;
    padding:0;
}

body{
    margin: 0;
    background: url('../images/wood.png') repeat;
}

h1{
    background:url('../images/header.png') no-repeat;
    height:100px;
    width:450px;
    float: left;
    margin-top:-100px;
    margin-left: 600px;
}

a:link{
    color:maroon;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    
}

a:hover{
    text-decoration: underline;
    
}

a:visited{
     color:maroon;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    
    background: url('../images/bgImageLeerkrachtOuders.png')
}
 
::-webkit-scrollbar-thumb {
    
    background: url('../images/bgImageInhoudLeerkrachtOuders.png');
    
}
h3{
    position: absolute;
    margin-top: -5em;
   margin-left: 4em;
   font-family: hello;
   font-size: 2em;
   border-bottom: double 5px black;
   
}
/*Hoofdmenu*/
nav
{
    position: fixed;
    left: -17em;
    top: 0;
    bottom: 0;
    background:url('../images/bgNav.png');
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    border-radius:0 15px 15px 0;
    font-family: Caviar;
    height: 24em;
    content: 'Menu';
}
 
nav:after
{

}
nav ul
{
    
    width: 19em;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    margin-top: 2em;
}
nav:hover
{
    left: 0;
}
nav ul li
{
    margin: 0.2em;
    
    
}
nav ul ul{
    margin-top: -0.5em;
    margin-left: -1em;
    margin-bottom: -0.7em;
    width: 14em;
}
nav ul ul li{
    font-size: 12px;
}
nav ul li a
{
    background:url('../images/bgImageC.png');
    padding: 0.5em;
    display: block;
    border-left: 5px darkred solid;
    text-decoration: none;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    color:white;
}
nav ul li a:visited{
    color:white;
}
nav ul li a:hover
{
    text-decoration: none;
    border-left-color: green;
    background: url('../images/bgImageB.png');
    color: white;
}
.uitlog{
    background:url('../images/bgImageC.png');
    color:white;
    border:none;
}
.uitlog:visited{
    color:white;
}
.uitlog:link{
    color: white;
}
.uitlog:hover{
    background: white;
    color:darkred;
}
/*
.hoofdmenu{
    z-index: 9999;
    position: relative;
    float: right;
    margin-top: -4.5em;
    font-family: Caviar;
   
}
.hoofdmenu ul ul {
	display: none;
}

	.hoofdmenu ul li:hover > ul {
		display: block;
	}
.hoofdmenu ul {
	list-style: none;
	position: relative;
	display: inline-block;
}
	.hoofdmenu ul:after {
		content: ""; clear: both; display: block;
	}
.hoofdmenu ul li {
	float: left;
}
	.hoofdmenu ul li:hover {
            color:darkred;
	}
		.hoofdmenu ul li:hover a {
			 color: darkred;
		}
	
	.hoofdmenu ul li a {
		display: inline-block; 
                padding:1em;
		 color: black;; text-decoration: none;
	}
.hoofdmenu ul ul {
	position: absolute; 
        top: 100%;
        background:url('../images/linedpaper.png');
        box-shadow: -5px 5px 15px #4d4d4d;
        padding:0.2em;
}
	.hoofdmenu ul ul li { 
            float: none;
                font-size: 12px;
		position: relative;
                
	}
		.hoofdmenu ul ul li a {
			display: block;
			 color: black;
		}	
                .hoofdmenu ul ul li a:visited {
			
			 color: black;
		}
			.hoofdmenu ul ul li a:hover {
                                border-bottom: 1px darkred solid;
                                margin-bottom:-1px;
                                color: darkred;
			}
*/
.actief{
    border-left-color: green;
}
.actief:visited{
   background: url('../images/bgImageB.png');
                        }    
                        .actief:link{
   color:white;    
    background: url('../images/bgImageB.png');
                        }   
                                                .actief:hover{
   color:white;         
                        } 
/*verandert als je op andere pagina belandt*/

.hoofding{
    visibility: hidden;
}


/*Foto onderaan pagina*/

.verfvlek{
    float: right;
    right:0;
    top:0;
    margin-top: 30em;
    margin-right: -15em;
}



/*Log in scherm*/

/*Body Inlog*/

#inlog{
    background:url('../images/bgInlog.png');
    min-height: 83.5%;
}



/*Wrapper Inlog*/

.wikkelInlog{
    position: relative;
    width:927px;
    height: 465px;
    margin-top:150px;
    margin-left: auto;
    margin-right:auto;
     box-shadow: -20px 20px 50px #4d4d4d;
   margin-bottom: -250px;
}



/*Titel Welkom*/

h2{
    font-family: chalk;
    font-size: 40px;
     height:100px;
     width:600px;
    background: url('../images/bgWelkom.png') no-repeat;
    margin-left: 175px;
    margin-top:150px;
    -webkit-animation: KleurH2 7s linear infinite alternate; /* Chrome, Safari, Opera */
    animation: KleurH2 7s linear infinite alternate;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes KleurH2 {
    0% {color:#fdb5f5;}
    25% {color: yellow;}
    50% {color: white;}
    75% {color: lime;}
    100% {color:#fdb5f5;}
}

.Welkom{
    float:left;
    position: relative;
    padding-top:10px;
    margin-left: -175px;
}



/*Inlog formulier*/

#bgInloggen{
    z-index: 2;
    background:url('../images/bgInlogForm.png')no-repeat; 
    width:925px;
    height:465px;

}

#InlogForm{
    padding-top:5em;
    margin-left: 300px;
    margin-right: auto;
    width:50%;
        
}

#InlogForm > .TussenInlogForm{
    margin: 1em;
    
    
}

#InlogForm > .TussenInlogForm > label{
     display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: left;
    margin:0.2em;
    padding: 0.5em;
    font-family: chalk;
    color:white;
    font-size: 16px;
}

#InlogForm > .TussenInlogForm > label > input{
    display: inline-block;
    float: right;
    background:none;
    margin-top:0.2em;
    margin-right: -2em;
    width:10em;
    border:none;
    border-bottom: 1px solid #fdb5f5;
    font-family: chalk;
    color:#fdb5f5;
    
}

#InlogForm > .TussenInlogForm > label > input:focus{
  outline: none;
}



/*Knop om in te loggen*/

.opmaakInlogKnop{
    background: url('../images/bgKnopInlog.png');
        height:50px;
        width:225px;
        float:left;
        position: relative;
        margin-left: 50px;
}

.opmaakInlogKnop > input[type="submit"]{
    font-family: chalk;
    color:white;
    background:none;
    border:none;
    margin-top: 13px;
    margin-left:25px;
    width:180px;
    height:20px;
}

.opmaakInlogKnop > input[type="submit"]:hover{
    background:url('../images/bgKnopHover.png')
}



/*Klaslijst*/

.wikkel{
    width:70em;
    margin-top:150px;
    margin-left: auto;
    margin-right:auto;
    overflow: visible;
    height: 40em;
    margin-bottom: 5em;
    background:url('../images/linedpaper.png');
        border:10px solid darkgreen;
        border-radius: 25px;
}



/*Paspoort*/

.passpoort{
   background: url('../images/bgImageA.png');
   padding:1em;
   width:400px;
   height:100px;
        margin-top: 25px;
   overflow:hidden;
   font-family: hello;
    box-shadow: -5px 5px 20px #4d4d4d;
    margin-left: 1em;
}

.passpoort > img{
   float:left;
   margin-right: 1em;
   position:relative;
   
}

.bgKlaslijst{
    background: url('../images/bgImageC.png') repeat;
    height:600px;
    width:525px;
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    box-shadow: -5px 5px 20px #4d4d4d;
    border-radius: 15px;
}
.bgKlaslijst > img{
    float: left;
}
.klaslijst{
    background: url('../images/bgTempForm.png') repeat;
    width:475px;
    height:550px;
    overflow: scroll;
        margin-top: 25px;
    margin-left: 25px;
    position: absolute;
    box-shadow: -5px 5px 20px #4d4d4d;
}



/*sidebar veranderen met css*/

.klaslijst::-webkit-scrollbar{
    width:12px;
}
.klaslijst::-webkit-scrollbar-track{
    background: none;
}
.klaslijst::-webkit-scrollbar-thumb{
    background: url('../images/bgScroll.png');
}



/*LeerlingenToevoegen.php*/

.wikkelLeerlingToevoegen{
    width:70em;
    margin-top:150px;
    margin-left: auto;
    margin-right:auto;
    overflow: visible;
    height: 40em;
    margin-bottom: 5em;
    background:url('../images/linedpaper.png');
        border:10px solid darkgreen;
        border-radius: 25px;
}

.wikkelLeerkrachtToevoegen{
    background: url('../images/bgImageInhoudLeerkrachtOuders.png') repeat;
    width:60em;
    margin-top:150px;
    margin-left: auto;
    margin-right:auto;
    overflow: visible;
    height: 40em;
    margin-bottom: 5em;
}

/*Leerlingen toevoegen formulier*/



.bgFormLeerkracht{
    background: url('../images/bgFormTemp.png') no-repeat;
    height:500px;
    width:550px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
}
.bgFormLeerkracht > form{
    margin-top: 55px;
    margin-left: 35px;
}

.buttonToevoegen{
    font-family: hello;
    padding: 1em;
    width:250px;
    position: relative;
    margin-left: 37em;
    margin-top: 25em;
    background: none;
    border:solid 2px black;
}

.buttonToevoegen:hover{
    background: #515850;
    color: white;
}



/*Volledig formulier voor het invoeren van neuwe leerlingen*/

.InvoerForm{
    margin-left: 4em;
    margin-top: -6em;
    width:60em;
    height:450px;
    float: left;
    background: url('../images/bgTempForm.png');
    box-shadow: 8px 0 10px rgba(0,0,0,0.2);
    position: absolute;
}

.InvoerForm > .TussenForm{
    position: absolute;
    margin: 1em;   
}
.InvoerForm > .TussenForm > label{
    display: inline-block;
    float: left;
    clear: left;
    width: 350px;
    text-align: left;
    margin:0.2em;
    padding: 0.5em;
    font-family: hello;
}
.InvoerForm > .FormRechts{
    margin-left: 30em;
}

.InvoerForm > .TussenForm > label > input{
    display: inline-block;
    float: right;
    background:none;
    margin-right: -2em;
    border: groove 1px white;
    width:15em;
}
.InvoerForm > .TussenForm > label > input:focus{
    border: groove 1px #515850;
  -webkit-box-shadow:0 0 6px #515850;
  -moz-box-shadow:0 0 5px #515850;
  box-shadow:0 0 5px #515850;
  outline: none;
}



/*Checkboc voor het invoerformulier*/
/*input[type="checkbox"]{
    border:none;
    float:left;
    position: absolute;
   visibility: hidden;
   margin-top:0.2em;
}
*/
#valid_email{
        border:none;
    float:left;
    position: absolute;
   margin-top:0.2em;
   margin-left:10em;
   visibility: hidden;
}
#valid_email:checked{
      visibility: visible;
    border:none;
    background: green;
}
input[type="checkbox"]:checked + .juist{
    width:15px;
    height:15px;
    border:none;
    content: url('../images/vinkje.png');
    float: right;
    position:relative;
    margin-right: 1em;
   
}
.Vergeet{
    float: left;
    position: relative;
    margin-top: 40px;
    margin-left:-210px;
}
.Vergeet > a:link{
    font-size: 14px;
    font-family: chalk;
    color:#fdb5f5;
}
.Vergeet > a:hover{
    color:#ff8585;
    text-decoration: none;
   
}
#doodle{
    position: relative;
    margin-left: 57em;
    height:10em;
    margin-top: 2em;
}
footer{  
  
  float:right;
  text-align:center;     
  width: 200px;    
  margin: 25px;
  margin-top: -12em;
  margin-left: 50em;
  margin-right: auto;
  min-height:125px;
  max-height:125px;
  padding-top:5px;
  position:absolute;   
  border:1px solid #E8E8E8;  
  border-top:60px solid #fdfd86;
  font-family:hello;    
  font-size:18px;      
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
  background: #ffff88; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
transform: rotate(10deg);
box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
}
